<nav class="sideNav">
  <ul>
    <a href="<%= root_path %>">
      <li> </li>
    </a>

    <a href="<%= posts_path %>">
      <li> </li>
    </a>

    <a href="<%= sites_path %>">
      <li> </li>
    </a>

    <a href="<%= adverts_path %>">
      <li> </li>
    </a>

  </ul>
</nav>