<nav>
    <div class="navbar-top">
        <div class="container">
            <ul class="row">
            
                <div class="col">
                    <div class="searchbar">
                        <input type="search" id="search" class="searchBar" placeholder="Search ...">
                    </div>
                </div>

                <div class="col">
                    <a>
                        <li>
                            Hello
                        </li>
                    </a>
                </div>
            </ul>
        </div>
    </div>
</nav>