<nav>
    <div class="navbar-top">
        <ul class="row">

            <div class="searchbar">
                <input type="search" id="search" class="searchBar" placeholder="Search ...">
            </div>
            <a>
                <li>
                    Hello
                </li>
            </a>
        </ul>
    </div>
</nav>