<small><label class="sponsortext">Sponsored</label></small>
<div class="advertisment" id="advertisment">
<%= adverts_small.name %> <br>
<%= adverts_small.ad_code %> <br>
<%= adverts_small.start_date %> <br>
<%= adverts_small.end_date %>
</div>