@import 'colors';

aside.navbar {
    width: 80px;
    height: 100vh;
    background: #f1f1f1;
    position: fixed;
    float: left;
    color: white;
    overflow: hidden;
    z-index: 101;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: none;
            color: inherit
        }
    }

    nav.sideNav {
        padding: 0;
        margin: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background: #5f27cd;
                margin-bottom: 6px;
            }
        }

        .hidden_site_name {
            position: absolute;
            margin-left: -600vw;
        }
        .logo {
            width: 40px;
            height: auto;
            position: absolute;
            top: 12px;
            font-weight: 900;
            font-size: 1.8rem;
            line-height: 31px;
            text-align: center;
            color: #5f27cd;

        } 
    }
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 120px;
}




.navbar-top {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
    padding-left: 140px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;

    .searchBar {
        min-width: 200px;
        width: 60%;
        padding: 6px;
        margin-top: 10px;
        border-radius: 50px;
        border: 1px solid #f1f1f1;
        background: #f1f1f1;
        padding-left: 20px;
        padding-right: 20px;
    }

    ul {
        padding: 0;

        li {
            padding: 12px;
            list-style: none;
        }
    }
}